<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="input-group col-md-6">
      <input type="text" ng-model="formData.text" class="form-control" placeholder="Add task...">
      <span class="input-group-btn">
        <button type="button" class="btn btn-info" ng-click="createTodo()"> Add </button>
      </span>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<div class="container">
  <p ng-hide="todos.length!=0"> No tasks due </p>

  <div class="card card-block" ng-repeat="todo in todos">

    <div class="card-content todo-details">
      <h4 class="card-title"> {{ todo.text }} </h4>
    </div>

    <div class="card-controls remove-todo">
      <div ng-click="deleteTodo(todo._id)"> <span class="glyphicon glyphicon-ok icon-green"></span></div>
    </div>
  </div>
</div>
