.heading {
  text-align: center;
  padding-bottom: 20px;
}

.btn-corner{
  float: right;
  bottom: 1%;
}

.icon-green{
  font-size: 1.5em;
  color:green;
  cursor: pointer;
}

.footer{
  margin-top: 10px;
}

.todo-details {
  width: 90%;
  float: left;
}

.remove-todo {
  width: 10%;
  float: right;
  padding-top: 15px;
}
